{% extends 'ImageBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-success btn-xs" href="{{ path('image_album_list') }}">Back to album list</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="navigation" data-album-id="{{ album.id }}">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <div class="row album-items">
        {% for item in pagination %}
        <div class="col-md-3">
            <div class="thumbnail">

                <img class="album-item" src="{{ asset('uploads/' ~ item.file) }}" alt="" />

                <div class="caption">
                    <h4>{{ item.title }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="navigation" data-album-id="{{ album.id }}">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}