<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/image/css/image.css') }}"/>

</head>
<body>

    <div id="image-app-container" class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% javascripts
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/underscore/underscore-min.js'
        'assets/vendor/backbone/backbone-min.js'
        'assets/vendor/backbone.marionette/lib/backbone.marionette.min.js'
        'bundles/image/js/models/*'
        'bundles/image/js/views/*'
        'bundles/image/js/controllers/*'
        'bundles/image/js/routes.js'
        'bundles/image/js/image.js' %}

        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</body>
</html>